.container {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: 1vh;
  font-family: Arial, Helvetica, sans-serif;
}

.headerContainer {
  display: flex;
  width: 100vw;
  justify-content: center;
  color: white;
  margin-top: 1vh;
  font-family: Arial, Helvetica, sans-serif;
}

.dateColumn {
  background-color: yellow;
  width: 25vw;
  border: 1px solid white;
  text-align: center;
  border-radius: 8px;
  background-color: rgba(41, 189, 242, 0.65);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  padding-top: 1.5vh;
  padding-bottom: 1.5vh;
}

.tempColumn {
  background-color: pink;
  width: 55vw;
  border: 1px solid white;
  text-align: center;
  border-radius: 8px;
  background-color: rgba(41, 189, 242, 0.65);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  padding-top: 1.5vh;
  padding-bottom: 1.5vh;
}

@media screen and (min-width: 601px) {
  .headerContainer {
    font-size: 25px;
  }
}

@media screen and (max-width: 600px) {
  .headerContainer {
    font-size: 15px;
  }
}
