.dayDetails {
  background-color: white;
  border: 1px solid #29bdf2;
  border-radius: 9px;
  margin-top: 1vh;
}

.dateColumn {
  width: 25vw;
  border: 1px solid #29bdf2;
  border-radius: 8px 0px 0px 8px;
  text-align: center;
  background-color: white;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  padding-top: 1.5vh;
  padding-bottom: 1.5vh;
}

.tempColumn {
  width: 55vw;
  border: 1px solid #29bdf2;
  border-radius: 0px 8px 8px 0px;
  text-align: center;
  background-color: white;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  padding-top: 1.5vh;
  padding-bottom: 1.5vh;
}
